<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать экскурсию</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/dashbord.css">


    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=12e3ef71-0ab9-45da-8a9f-c924cf2fd1ae"></script>
    <script src="/public/js/mapCreateEx.js"></script>
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="status"></div>

        <div class="container two-part-container">

            <form onsubmit="CreateExcursionSubmit(event)" class="first-container-part">
                <input type="number" name="guideId" hidden value="<%= user %>">
                <h2>Создание новой экскурсии</h2>



                <ul class="accordion__list">
                    <li class="accordion__item long-field" data-accitemindex="0">
                        <div class="accordion__title-block" id="allInfo">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Основная информация</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                        </div>
                        <div class="accordion__text-block">
                            <div class="input-wrap">
                                <h6 class="box-input__title">Название экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="name" placeholder=" " value="">
                                    <label>Название экскурсии</label>
                                    <div class="box-input__error-text name-error"></div>
                                    <p class="input-help-text">Развёрнутое название</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Описание экскурсии</h6>
                                <div class="box-input">
                                    <textarea name="description" placeholder=" "></textarea>
                                    <label>Описание экскурсии</label>
                                    <div class="box-input__error-text description-error"></div>
                                    <p class="input-help-text">Что увидят и узнают путешественники в рамках
                                        экскурсии?
                                        Опишите свою
                                        экскурсию так, чтобы туристам захотелось поехать!</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Дополнительная информация</h6>
                                <div class="box-input">
                                    <textarea name="extraInfo" placeholder=" "></textarea>
                                    <label>Дополнительная информация</label>
                                    <p class="input-help-text">Что ещё взять с собой?</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Место начала экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="startLocation" placeholder=" " value="">
                                    <label>Место встречи</label>
                                    <div class="box-input__error-text startLocation-error"></div>
                                    <p class="input-help-text">Укажите конкретный адрес или общеизвестное место.
                                        Например, "ЖД Вокзал"</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Место окончания экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="endLocation" placeholder=" " value="">
                                    <label>Место окончания</label>
                                    <div class="box-input__error-text endLocation-error"></div>
                                    <p class="input-help-text">Укажите конкретный адрес или общеизвестное место.
                                        Например, "ЖД Вокзал"</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Длительность экскурсии</h6>
                                <div class="box-input">
                                    <input type="time" id="duration" name="duration" placeholder=" " value="" step="300"
                                        min="00:30" max="12:00">
                                    <label>Длительность экскурсии</label>
                                    <div class="box-input__error-text duration-error"></div>
                                    <p class="input-help-text">Введите длительность экскурсии</p>
                                </div>
                            </div>

                            <div class="many-fields__wrap">

                                <div class="input-wrap">
                                    <h6 class="box-input__title">Формат</h6>
                                    <% data.formats.forEach(item=> { %>
                                        <div class="radio-input">
                                            <input type="radio" name="formatId" id="format-<%= item.id; %>"
                                                value="<%= item.id; %>">
                                            <label for="format-<%= item.id; %>">
                                                <%= item.name; %>
                                            </label>

                                        </div>
                                        <% }); %>
                                            <div class="box-input__error-text formatId-error"></div>
                                </div>
                                <div class="input-wrap">
                                    <h6 class="box-input__title">Тип</h6>
                                    <% data.types.forEach(item=> { %>
                                        <div class="radio-input">
                                            <input type="radio" name="typeId" id="type-<%= item.id; %>"
                                                value="<%= item.id; %>">
                                            <label for="type-<%= item.id; %>">
                                                <%= item.name; %>
                                            </label>

                                        </div>
                                        <% }); %>
                                            <div class="box-input__error-text typeId-error"></div>
                                </div>
                                <div class="input-block-wrap">
                                    <h6 class="box-input__title">Тема</h6>
                                    <div class="many-inputs__wrap">
                                        <% data.themes.forEach(item=> { %>
                                            <div class="radio-input">
                                                <input type="checkbox" name="themes" id="theme-<%= item.id; %>"
                                                    value="<%= item.id; %>">
                                                <label for="theme-<%= item.id; %>">
                                                    <%= item.name; %>
                                                </label>
                                            </div>
                                            <% }); %>
                                                <div class="box-input__error-text themes-error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item long-field" data-accitemindex="1">
                        <div class="accordion__title-block" id="timeTable">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Расписание</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">Укажите, на какие дни недели будет проходить экскурсия и в
                                какое
                                время она будет начинаться</p>
                        </div>

                        <div class="accordion__text-block">

                            <div class="input-block-wrap">
                                <h6 class="box-input__title">Дни недели</h6>
                                <div class="many-inputs__wrap" id="weekdays">
                                </div>
                                <div class="box-input__error-text dayNumber-error"></div>
                            </div>


                        </div>
                    </li>
                    <li class="accordion__item long-field" data-accitemindex="2">
                        <div class="accordion__title-block" id="Photos">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Фотографии</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">Загрузите минимум 4 фотографии основных
                                достопримечательностей в
                                высоком качестве. Запрещено использовать фотографии с надписями и водяными знаками
                            </p>
                        </div>

                        <div class="accordion__text-block">



                            <div class="input-wrap">

                                <label class="btn secondary-btn btn-with-icon">
                                    <input name="photos" id="photo-input" type="file" hidden class="input__file"
                                        multiple accept="image/*" />
                                    <img src="/Public/icons/pic.svg">
                                    Выбрать изображение
                                </label>
                                <p style="margin-top: 40px;">Выбрано:</p>
                                <div class="tags-wrap photo-tags">

                                    <div class="preview"></div>
                                    <div class="btn secondary-btn clear-file-input">Очистить выбор</div>
                                </div>
                                <div class="box-input__error-text photos-error"></div>

                            </div>
                        </div>
                    </li>
                    <li class="accordion__item long-field" data-accitemindex="1">
                        <div class="accordion__title-block" id="route">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Маршрут</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">
                                Выберите точку на карте, введите название и загрузите картинку. Задайте минимум 2 точки
                                маршрута
                            </p>
                        </div>

                        <div class="accordion__text-block">
                            <div id="map-test" class="map"></div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Название точки маршрута</h6>
                                <div class="box-input">
                                    <input type="text" id="markName" placeholder=" " value="">
                                    <label>Достопримечательность, парк и т.п.</label>
                                    <div class="box-input__error-text point-error"></div>
                                </div>
                            </div>

                            <div class="btn map-btn" onclick="AddMark()">Добавить точку</div>

                            <h6 class="box-input__title">Добавленные точки:</h6>
                            <div class="tags-wrap routepoint-tags">
                                <div class="routepoint-preview"></div>
                                <div class="btn secondary-btn clear-file-input" onclick="clearPoint()">Очистить выбор</div>
                            </div>
                            <div class="box-input__error-text photos-error"></div>

                        </div>
                    </li>
                    <li class="accordion__item" data-accitemindex="3">
                        <div class="accordion__title-block" id="Cost">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Стоимость</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">Введите стоимость экскурсии в белорусских рублях для 1
                                человека
                            </p>
                        </div>

                        <div class="accordion__text-block">


                            <div class="input-wrap">
                                <h6 class="box-input__title">Взрослый</h6>
                                <div class="box-input">
                                    <input type="number" name="adultCost" placeholder=" " value="" min="1">
                                    <label>Введите стоимость</label>
                                    <div class="box-input__error-text adultCost-error"></div>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Детский</h6>
                                <div class="box-input">
                                    <input type="number" name="childCost" placeholder=" " min="0">
                                    <label>Введите стоимость</label>
                                    <p class="input-help-text">Можно не заполнять, если не предусмотрено </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>


                <input type="submit" class="btn" value="Создать экскурсию">

            </form>

            <div class="soderj_wrapper second-container-part">
                <div class="soderj">
                    <a href="#allInfo" onclick="scrollToBlock">Общая информация</a>
                    <a href="#route" onclick="scrollToBlock">Маршрут</a>
                    <a href="#timeTable" onclick="scrollToBlock">Расписание</a>
                    <a href="#Photos" onclick="scrollToBlock">Фотографии</a>
                    <a href="#Cost" onclick="scrollToBlock">Стоимость</a>
                    <!-- <a href="#extraInfo" onclick="scrollToBlock">Дополнительно</li> -->
                </div>

            </div>

        </div>

        <script>
            function convertTimeToMinutes(timeString) {
                const [hours, minutes] = timeString.split(':').map(Number);
                return hours * 60 + minutes;
            }

            let
                fileInput = document.querySelector(".input__file"),
                durationInput = document.querySelector("#duration");

            let date = new Date();
            const options = { weekday: 'long' };

            let curr = new Date;
            let first = curr.getDate() - curr.getDay();
            let dayOfWeek = [];

            let firstday = (new Date(curr.setDate(first + 1))).toString();

            for (let i = 1; i < 8; i++) {
                let next = first + i;
                let nextday = (new Date(curr.setDate(next))).toLocaleString('ru-RU', options);

                document.getElementById("weekdays").innerHTML +=
                    `<div class="radio-input">
                <input type="checkbox" name="dayNumber" id="weekday-${i}" value="${i}" >
                    <label for="weekday-${i}">
                        ${nextday}
                    </label>
            </div>`;
            }

            let startTimes = [], timeTags = [], i = 0;

            let k = 0, clear = document.querySelector(".clear-file-input"),
                photoTags = document.querySelector(".photo-tags");


            let input = document.querySelector('input[type="file"]');
            const preview = document.querySelector('.preview');
            const button = document.querySelector('button');
            let fileErr = document.querySelector(".photos-error");
            const fileList = [];
            input.addEventListener('change', onChange);

            function onChange(e) {
                fileErr.innerHTML = "";
                photoTags.style.visibility = 'visible';
                preview.innerHTML = "";
                [...input.files].forEach(file => {
                    const reader = new FileReader;
                    reader.addEventListener('loadend', () => {
                        const item = document.createElement('div');
                        item.classList.add('photo-tag');
                        // item.innerText = file.name;
                        item.setAttribute('data-index', k++);
                        const image = new Image;
                        image.src = `data:${file.type};base64,${btoa(reader.result)}`;
                        item.appendChild(image);
                        preview.appendChild(item);
                    });
                    reader.readAsBinaryString(file);

                });
            }

            clear.addEventListener('click', () => {
                input.value = "";
                preview.innerHTML = "";
                photoTags.style.visibility = 'hidden';
            });

            let accordeonTabs = document.querySelectorAll('.soderj a');
            accordeonTabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    accordeonTabs.forEach(elemnt => {
                        elemnt.classList.remove('active');
                    });
                    tab.classList.add('active');
                });
            });

            function AddMark(){
                let name = document.querySelector("#markName");
                if(name.value.length != 0 && myPlacemark){
                    let point = {name: name.value, coords: myPlacemark.geometry._coordinates};
                    Placemarks.push(point);
                    name.value = "";
                    myPlacemark = null;
                    myMap.geoObjects.removeAll();
                    reloadPoint()
                }
                console.log(Placemarks);
            }

            function deletePoint(e){
                Placemarks.splice(+e.target.dataset.index, 1);
                reloadPoint()
            }

            function clearPoint(){
                document.querySelector('.routepoint-preview').innerHTML = "";
                Placemarks = [];
            }

            function reloadPoint() {
                document.querySelector('.routepoint-preview').innerHTML = "";
                for (let i = 0; i < Placemarks.length; i++) {
                    const item = document.createElement('div');
                    let imgX = document.createElement('img');
                    imgX.src = "/public/icons/lil-x.svg";
                    imgX.addEventListener('click', deletePoint);
                    imgX.setAttribute('data-index', i);
                    item.classList.add('photo-tag');
                    item.classList.add('routepoint-tag');
                    item.innerText = Placemarks[i].name;
                    item.setAttribute('data-index', i);
                    item.appendChild(imgX);
                    document.querySelector('.routepoint-preview').appendChild(item);
                }
            }
        </script>
        <script src="/public/js/anchorScroll.js"></script>
        <script src="/Public/js/accordion.js"></script>
        <script src="/public/js/createExcursion.js"></script>