<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/dashbord.css">
    <link rel="stylesheet" href="/public/css/style.css">

</head>

<body>
    <%- include('./partials/header'); %>

        <div class="info-window__wrapper">
            <div class="info-window">
                <p class="window__text">Вы действительно хотите удалить экскурсию <span class="ex-name"></span>?</з>
                <div class="window-btns">
                    <div class="btn secondary-btn reset-btn">Отмена</div>
                    <div onclick="RemoveSubmit(event)" class="btn remove-btn">Да, удалить</div>
                </div>
            </div>
        </div>

        <div class="container two-part-container">

            <div class="first-container-part">

                <div class="dashbord__header">
                    <img class="dashbord__guide-img" src="<%= user.imgSRC %>" alt="">
                    <div class="dashobord__info">
                        <h2 style="margin-bottom: 0;">
                            <%= user.name %>
                        </h2>
                        <p class="paragraph">
                            <%= user.description %>
                        </p>
                        <a class="btn" href="/excursions/create">Добавить экскурсию</a>
                    </div>
                </div>
            </div>
            <div class="second-container-part">
                <h4>Все экскурсии</h4>
                <div class="excursion-blocks">

                    <% if(excursions) {%>
                        <% excursions.forEach(item=> { %>

                            <div class="excursion-block" id="excursion-<%=item.id%>">
                                <div class="action-menu">
                                    <a href="/excursions/show/<%=item.id %>" class="action-menu__item">
                                        <img src="/Public/icons/Eye.svg" alt="">
                                        Посмотреть
                                    </a>
                                    <a href="/excursions/edit/<%=item.id %>" class="action-menu__item">
                                        <img src="/Public/icons/PencilSimpleLine.svg" alt="">
                                        Редактировать
                                    </a>
                                    <li class="action-menu__item remove-excursion__btn" data-exname="<%=item.name %>"
                                        data-exid="<%=item.id %>">
                                        <img src="/Public/icons/Trash.svg" alt="">
                                        Удалить
                                    </li>
                                </div>
                                <div class="excursion-block__header">
                                    <h5 class="excursion-name">
                                        <%=item.name%>
                                    </h5>
                                    <img class="excursion-block__dots" src="/Public/icons/DotsThreeVertical.svg" alt="">
                                </div>
                                <div class="excursion-block__body">
                                    <div>
                                        <div class="excursion-block__data-wrap">
                                            <p class="extra-info">Формат</p>
                                            <p class="excursion-block__format excursion-block__data">
                                                <%=item.format.name%>
                                            </p>

                                        </div>
                                        <div class="excursion-block__data-wrap">
                                            <p class="extra-info">Тип</p>
                                            <p class="excursion-block__type excursion-block__data">
                                                <%=item.type.name%>
                                            </p>

                                        </div>
                                        <!-- <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__type excursion-block__data">4,2</p>
                                    <p class="extra-info">Рейтинг</p>
                                </div> -->
                                    </div>
                                    <div>
                                        <div class="excursion-block__data-wrap">
                                            <p class="extra-info">Длительность</p>
                                            <p class="excursion-block__type excursion-block__data">
                                                <%=item.duration%> часа
                                            </p>

                                        </div>
                                        <div class="excursion-block__data-wrap">
                                            <p class="extra-info">Стоимость</p>
                                            <p class="excursion-block__type excursion-block__data">
                                                <%=item.adultCost%> Br
                                            </p>

                                        </div>
                                        <!-- <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__type excursion-block__data">5</p>
                                    <p class="extra-info">Отзывы</p>
                                </div> -->
                                    </div>
                                </div>
                            </div>
                            <% }); }%>

                </div>
            </div>
        </div>

        <div class="container two-part-container">

            <!-- <div class="first-container-part">
                <h4>Ближайшие экскурсии</h4>
                <div class="excursion-blocks">
                    <div class="excursion-block">
                        <div class="excursion-block__header">
                            <div>
                                <h5 class="excursion-name">Минск «перламутровый»: пешая прогулка со знатоком города</h5>
                                <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__type excursion-block__data data-highlighth">11 апреля
                                        23:00</p>
                                    <p class="extra-info">Экскурсия состоится</p>
                                </div>
                                <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__format excursion-block__data data-highlighth">14/20</p>
                                    <p class="extra-info">Забронировано мест</p>
                                </div>
                            </div>
                            <img class="excursion-block__img" src="/Public/guideImages/1334unsplash_SBiVq9eWEtQ.png"
                                alt="">
                        </div>
                    </div>
                    <div class="excursion-block">
                        <div class="excursion-block__header">
                            <div>
                                <h5 class="excursion-name">Минск «перламутровый»: пешая прогулка со знатоком города</h5>
                                <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__type excursion-block__data data-highlighth">11 апреля
                                        23:00</p>
                                    <p class="extra-info">Экскурсия состоится</p>
                                </div>
                                <div class="excursion-block__data-wrap">
                                    <p class="excursion-block__format excursion-block__data data-highlighth">14/20</p>
                                    <p class="extra-info">Забронировано мест</p>
                                </div>
                            </div>
                            <img class="excursion-block__img" src="/Public/guideImages/1334unsplash_SBiVq9eWEtQ.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div> -->

        </div>




        <script>

            let dots = document.querySelectorAll(".excursion-block__dots"),
                actionMenu = document.querySelectorAll(".action-menu");


            dots.forEach((element, index) => {

                element.addEventListener('click', () => {
                    actionMenu[index].classList.add('visible');
                });
                document.addEventListener('mouseup', function (e) {

                    if (!actionMenu[index].contains(e.target)) {
                        actionMenu[index].classList.remove('visible');
                    }
                });
            });

            let removeExcursionBtns = document.querySelectorAll(".remove-excursion__btn"),
                infoWindow = document.querySelector(".info-window"),
                removeBtn = document.querySelector(".remove-btn"),
                resetBtn = document.querySelector(".reset-btn"),
                infoWindowWrapper = document.querySelector(".info-window__wrapper"),
                exNamePlace = document.querySelector(".ex-name");
            removeExcursionBtns.forEach(element => {
                element.addEventListener("click", () => {
                    infoWindowWrapper.classList.add("show-info-window");
                    removeBtn.dataset.exid = element.dataset.exid;
                    exNamePlace.innerText = element.dataset.exname;
                })
            });
            resetBtn.addEventListener("click", () => {
                infoWindowWrapper.classList.remove("show-info-window");
            });

        </script>
        <script src="/public/js/removeExcursion.js"></script>


        <!-- <footer>
            <%- include('./partials/footer'); %>
        </footer> -->
</body>

</html>