<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать экскурсию</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/dashbord.css">
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="status"></div>

        <div class="container two-part-container">

            <form onsubmit="EditExcursionSubmit(event)" class="first-container-part">
                <!-- <input type="number" name="guideId" hidden value="<%= user %>"> -->
                <input type="number" name="id" hidden value="<%= excursion.excursionData.id %>">
                <h2>Редактирование экскурсии</h2>


                <!-- <div class="accordion__wrap"> -->
                <ul class="accordion__list">
                    <li class="accordion__item long-field">
                        <div class="accordion__title-block" id="allInfo">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Основная информация</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                        </div>
                        <div class="accordion__text-block">
                            <div class="input-wrap">
                                <h6 class="box-input__title">Название экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="name" placeholder=" "
                                        value="<%= excursion.excursionData.name %>">
                                    <label>Название экскурсии</label>
                                    <div class="box-input__error-text name-error"></div>
                                    <p class="input-help-text">Развёрнутое название</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Описание экскурсии</h6>
                                <div class="box-input">
                                    <textarea name="description"
                                        placeholder=" "><%= excursion.excursionData.description %></textarea>
                                    <label>Описание экскурсии</label>
                                    <div class="box-input__error-text description-error"></div>
                                    <p class="input-help-text">Что увидят и узнают путешественники в рамках
                                        экскурсии?
                                        Опишите свою
                                        экскурсию так, чтобы туристам захотелось поехать!</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Дополнительная информация</h6>
                                <div class="box-input">
                                    <textarea name="extraInfo"
                                        placeholder=" "><%= excursion.excursionData.extraInfo %></textarea>
                                    <label>Дополнительная информация</label>
                                    <p class="input-help-text">Что ещё взять с собой?</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Место начала экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="startLocation" placeholder=" "
                                        value="<%= excursion.excursionData.startLocation %>">
                                    <label>Место встречи</label>
                                    <div class="box-input__error-text startLocation-error"></div>
                                    <p class="input-help-text">Укажите конкретный адрес или общеизвестное место.
                                        Например, "ЖД Вокзал"</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Место окончания экскурсии</h6>
                                <div class="box-input">
                                    <input type="text" name="endLocation" placeholder=" "
                                        value="<%= excursion.excursionData.endLocation %>">
                                    <label>Место окончания</label>
                                    <div class="box-input__error-text endLocation-error"></div>
                                    <p class="input-help-text">Укажите конкретный адрес или общеизвестное место.
                                        Например, "ЖД Вокзал"</p>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Длительность экскурсии</h6>
                                <div class="box-input">


                                    <input type="time" id="duration" name="duration" placeholder=" "
                                        data-dur="<%= excursion.excursionData.duration %>" value="" step="300"
                                        min="00:30" max="12:00">
                                    <label>Длительность экскурсии</label>
                                    <div class="box-input__error-text duration-error"></div>
                                    <p class="input-help-text">Введите длительность экскурсии</p>
                                </div>
                            </div>

                            <div class="many-fields__wrap">

                                <div class="input-wrap">
                                    <h6 class="box-input__title">Формат</h6>
                                    <% data.formats.forEach(item=> { %>
                                        <%if (excursion.excursionData.formatId===item.id){%>
                                            <div class="radio-input">
                                                <input type="radio" name="formatId" id="format-<%= item.id; %>"
                                                    value="<%= item.id; %>" checked>
                                                <label for="format-<%= item.id; %>">
                                                    <%= item.name; %>
                                                </label>
                                                <div class="box-input__error-text formatId-error"></div>
                                            </div>
                                            <%} else {%>
                                                <div class="radio-input">
                                                    <input type="radio" name="formatId" id="format-<%= item.id; %>"
                                                        value="<%= item.id; %>">
                                                    <label for="format-<%= item.id; %>">
                                                        <%= item.name; %>
                                                    </label>
                                                    <div class="box-input__error-text formatId-error"></div>
                                                </div>
                                                <%}%>
                                                    <% }); %>
                                </div>
                                <div class="input-wrap">
                                    <h6 class="box-input__title">Тип</h6>
                                    <% data.types.forEach(item=> { %>

                                        <%if (excursion.excursionData.typeId===item.id){%>
                                            <div class="radio-input">
                                                <input type="radio" name="typeId" id="type-<%= item.id; %>"
                                                    value="<%= item.id; %>" checked>
                                                <label for="type-<%= item.id; %>">
                                                    <%= item.name; %>
                                                </label>
                                                <div class="box-input__error-text typeId-error"></div>
                                            </div>
                                            <%} else {%>
                                                <div class="radio-input">
                                                    <input type="radio" name="typeId" id="type-<%= item.id; %>"
                                                        value="<%= item.id; %>">
                                                    <label for="type-<%= item.id; %>">
                                                        <%= item.name; %>
                                                    </label>
                                                    <div class="box-input__error-text typeId-error"></div>
                                                </div>
                                                <%}%>
                                                    <% }); %>
                                </div>
                                <div class="input-block-wrap">
                                    <h6 class="box-input__title">Тема</h6>
                                    <div class="many-inputs__wrap">
                                        <% data.themes.forEach(item=> { %>
                                            <%if (themes.includes(item.id)){%>
                                                <div class="radio-input">
                                                    <input type="checkbox" name="themes" id="theme-<%= item.id; %>"
                                                        value="<%= item.id; %>" checked>
                                                    <label for="theme-<%= item.id; %>">
                                                        <%= item.name; %>
                                                    </label>
                                                </div>
                                                <%} else {%>
                                                    <div class="radio-input">
                                                        <input type="checkbox" name="themes" id="theme-<%= item.id; %>"
                                                            value="<%= item.id; %>">
                                                        <label for="theme-<%= item.id; %>">
                                                            <%= item.name; %>
                                                        </label>
                                                    </div>
                                                    <%}%>
                                                        <% }); %>
                                                            <div class="box-input__error-text themes-error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="accordion__item long-field">
                        <div class="accordion__title-block" id="timeTable">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Расписание</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">Укажите, на какие дни недели будет проходить экскурсия и в
                                какое
                                время она будет начинаться</p>
                        </div>

                        <div class="accordion__text-block">

                            <div class="input-block-wrap">
                                <h6 class="box-input__title">Дни недели</h6>
                                <div class="many-inputs__wrap" id="weekdays">
                                    <%for(let i=1; i < 8; i++){%>
                                        <%if (excursionDaysWeek.includes(i)){%>
                                            <div class="radio-input">
                                                <input type="checkbox" name="dayNumber" id="weekday-<%=i%>"
                                                    value="<%=i%>" checked>
                                                <label for="weekday-<%=i%>">
                                                    <%=daysWeek[i]%>
                                                </label>
                                            </div>
                                            <%} else {%>
                                                <div class="radio-input">
                                                    <input type="checkbox" name="dayNumber" id="weekday-<%=i%>"
                                                        value="<%=i%>">
                                                    <label for="weekday-<%=i%>">
                                                        <%=daysWeek[i]%>
                                                    </label>
                                                </div>
                                                <%}%>
                                                    <%}%>
                                </div>
                                <div class="box-input__error-text dayNumber-error"></div>
                            </div>


                        </div>
                    </li>
                    <li class="accordion__item long-field">
                        <div class="accordion__title-block" id="Photos">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Фотографии</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">При загрузке новых фотографий предыдущие будут очищены
                            </p>
                        </div>

                        <div class="accordion__text-block">



                            <div class="input-wrap">

                                <label class="btn secondary-btn btn-with-icon">
                                    <input name="photos" type="file" hidden class="input__file" multiple
                                        accept="image/*" />
                                    <img src="/Public/icons/pic.svg">
                                    Выбрать изображение
                                </label>
                                <p style="margin-top: 40px;">Выбрано:</p>

                                <div class="tags-wrap photo-tags" style="visibility: visible">

                                    <div class="preview">
                                        <% excursion.imagesExcursionsData.forEach(item=> { %>
                                            <div class="photo-tag" data-exindex="<%=item.id%>">
                                                <!-- <%=item.imgSRC.slice(item.imgSRC.lastIndexOf(' /')+1)%> -->
                                                <img src="<%=item.imgSRC%>">
                                            </div>
                                            <% }); %>
                                    </div>
                                    <div class="btn secondary-btn clear-file-input">Очистить выбор</div>
                                </div>
                                <div class="box-input__error-text photos-error"></div>

                            </div>
                        </div>
                    </li>
                    <li class="accordion__item long-field" data-accitemindex="1">
                        <div class="accordion__title-block" id="route">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Маршрут</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">
                                Выберите точку на карте, введите название и загрузите картинку. Задайте минимум 2 точки
                                маршрута
                            </p>
                        </div>

                        <div class="accordion__text-block">
                            <div id="map-test" class="map"></div>
                            <script
                                src="https://api-maps.yandex.ru/2.1/?apikey=12e3ef71-0ab9-45da-8a9f-c924cf2fd1ae&load=Map&lang=ru_RU"></script>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Название точки маршрута</h6>
                                <div class="box-input">
                                    <input type="text" name="name" placeholder=" " value="">
                                    <label>Достопримечательность, парк и т.п.</label>
                                    <div class="box-input__error-text name-error"></div>
                                </div>
                            </div>

                            <div class="btn map-btn">Добавить точку</div>

                            <h6 class="box-input__title">Добавленные точки:</h6>
                            <div class="tags-wrap routepoint-tags">
                                <div class="preview"></div>
                                <div class="btn secondary-btn clear-file-input">Очистить выбор</div>
                            </div>
                            <div class="box-input__error-text photos-error"></div>

                        </div>
                    </li>
                    <li class="accordion__item">
                        <div class="accordion__title-block" id="Cost">
                            <div class="accordion__title-content">
                                <h4 class="accordion__title">Стоимость</h4>
                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                            </div>
                            <p class="input-help-text">Введите стоимость экскурсии в белорусских рублях для 1
                                человека
                            </p>
                        </div>

                        <div class="accordion__text-block">


                            <div class="input-wrap">
                                <h6 class="box-input__title">Взрослый</h6>
                                <div class="box-input">
                                    <input type="number" name="adultCost" min="1" placeholder=" "
                                        value="<%= excursion.excursionData.adultCost %>">
                                    <label>Введите стоимость</label>
                                    <div class="box-input__error-text adultCost-error"></div>
                                </div>
                            </div>

                            <div class="input-wrap">
                                <h6 class="box-input__title">Детский</h6>
                                <div class="box-input">
                                    <input type="number" name="childCost" placeholder=" " min="0"
                                        value="<%= excursion.excursionData.childCost %>">
                                    <label>Введите стоимость</label>
                                    <p class="input-help-text">Можно не заполнять, если не предусмотрено </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- </div> -->

                <input type="submit" class="btn" value="Редактировать">

            </form>

            <div class="soderj_wrapper second-container-part">
                <ol class="soderj">
                    <a href="#allInfo" onclick="scrollToBlock">Общая информация</a>
                    <a href="#route" onclick="scrollToBlock">Маршрут</a>
                    <a href="#timeTable" onclick="scrollToBlock">Расписание</a>
                    <a href="#Photos" onclick="scrollToBlock">Фотографии</a>
                    <a href="#Cost" onclick="scrollToBlock">Стоимость</a>
                    <!-- <a href="#extraInfo" onclick="scrollToBlock">Дополнительно</li> -->
                </ol>

            </div>

        </div>

        <script>
            function convertTimeToMinutes(timeString) {
                const [hours, minutes] = timeString.split(':').map(Number);
                return hours * 60 + minutes;
            }

            function convertToTimeFormat(number) {
                // console.log(number);
                let hours = Math.floor(number);
                if (hours < 10) {
                    hours = '0' + hours; // Добавляем 0 в начало, если количество часов меньше 10
                }
                let minutes = (number - hours) * 60;
                minutes = Math.floor(minutes);
                if (minutes == 0) minutes = '0' + minutes;
                // console.log(hours, minutes);
                return hours + ':' + minutes;
            }

            let
                fileInput = document.querySelector(".input__file"),
                durationInput = document.querySelector("#duration");
            let deletedStartTime = [], deletedPhotos = [];
            let startTimes = [], timeTags = [], i = 0;
            timeTags = document.querySelectorAll(".time-tag");
            timeTags.forEach(item => {
                startTimes.push(item.innerText);
            });
            console.log(convertToTimeFormat(durationInput.dataset.dur));

            durationInput.value = convertToTimeFormat(durationInput.dataset.dur);


            timeTags.forEach(tag => {
                tag.addEventListener('click', () => {
                    tag.remove();
                    if (tag.dataset.exindex) {
                        deletedStartTime.push(tag.dataset.exindex);
                    }
                    else {
                        let tagIndex = tag.dataset.index;

                        startTimes.splice(tagIndex, 1);

                        console.log(startTimes);
                    }
                });
            });

            let date = new Date();
            const options = { weekday: 'long' };

            let curr = new Date;
            let first = curr.getDate() - curr.getDay();
            let dayOfWeek = [];

            // let firstday = (new Date(curr.setDate(first + 1))).toString();

            // for (let i = 1; i < 8; i++) {
            //     let next = first + i;
            //     let nextday = (new Date(curr.setDate(next))).toLocaleString('ru-RU', options);
            //
            //     document.getElementById("weekdays").innerHTML +=
            //         `<div class="radio-input">
            //     <input type="checkbox" name="dayNumber" id="weekday-${i}" value="${i}" >
            //         <label for="weekday-${i}">
            //             ${nextday}
            //         </label>
            // </div>`;
            // }

            let k = 0, clear = document.querySelector(".clear-file-input"),
                photoTags = document.querySelector(".photo-tags");


            let input = document.querySelector('input[type="file"]');
            const preview = document.querySelector('.preview');
            const button = document.querySelector('button');
            let fileErr = document.querySelector(".photos-error");
            const fileList = [];
            input.addEventListener('change', onChange);

            function onChange(e) {
                fileErr.innerHTML = "";
                document.querySelectorAll('.photo-tag[data-exindex]').forEach(el => {
                    el.remove();
                    deletedPhotos.push(el.dataset.exindex);
                })
                photoTags.style.visibility = 'visible';
                preview.innerHTML = "";
                [...input.files].forEach(file => {
                    const reader = new FileReader;
                    reader.addEventListener('loadend', () => {
                        const item = document.createElement('div');
                        item.classList.add('photo-tag');
                        // item.innerText = file.name;
                        item.setAttribute('data-index', k++);
                        const image = new Image;
                        image.src = `data:${file.type};base64,${btoa(reader.result)}`;
                        item.appendChild(image);
                        preview.appendChild(item);
                    });
                    reader.readAsBinaryString(file);

                });
            }

            clear.addEventListener('click', () => {
                input.value = "";
                document.querySelectorAll('.photo-tag[data-exindex]').forEach(el => deletedPhotos.push(el.dataset.exindex))
                preview.innerHTML = "";
                photoTags.style.visibility = 'hidden';
            });

            let accordeonTabs = document.querySelectorAll('.soderj a');
            accordeonTabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    accordeonTabs.forEach(elemnt => {
                        elemnt.classList.remove('active');
                    });
                    tab.classList.add('active');
                });
            });

        </script>
        <script src="/public/js/map.js"></script>
        <script src="/public/js/anchorScroll.js"></script>
        <script src="/Public/js/accordion.js"></script>
        <script src="/public/js/editExcursion.js"></script>