<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование гида</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./partials/header'); %>
    <div class="status">Экскурсия забронирована. Менеджер свяжется с вами в ближайшее время</div>

        <form onsubmit="EditeSubmit(event)">
            <input type="text" disabled hidden id="role" value="<%= user?.role %>">
            <input type="text" name="id" id="guideId" hidden value="<%=  guide.id %>">
            <div class="container two-part-container">
                <div style="display: flex; flex-direction: column; gap: 20px;">
                    <h2>Редактирование сотрудника</h2>
                    <div class="box-input">
                        <input type="text" name="name" id="name" class="input" placeholder=" " value="<%=  guide.name %>">
                        <label>Полное имя</label>
                        <div class="box-input__error-text name-error"></div>
                    </div>



                    <div class="box-input">
                        <input type="email" name="email" id="email" class="input" placeholder=" " value="<%=  guide.email %>">
                        <label>Адрес электронной почты</label>
                        <div class="box-input__error-text email-error"></div>
                    </div>

                    <div class="box-input">
                        <input type="password" name="password" id="password" class="input" placeholder=" "
                            autocomplete="off">
                        <label>Новый пароль</label>
                        <div class="box-input__error-text password-error"></div>
                    </div>

                    <div class="box-input">
                        <input type="password" name="secondPassword" id="secondPassword" class="input" placeholder=" "
                            autocomplete="off">
                        <label>Повторите новый пароль</label>
                        <div class="box-input__error-text secondPassword-error"></div>
                    </div>
                    <input type="submit" class="btn" value="Изменить">

                </div>
                <div>
                    <div class="input-wrap">
                        <h4 class="box-input__title">Подробная информация</h4>
                        <div class="box-input">
                            <textarea name="description" rows="2"
                                placeholder=" "><%=  guide.description %></textarea>
                            <label>Описание гида</label>
                            <div class="box-input__error-text description-error"></div>
                        </div>
                    </div>

                    <div class="input-wrap">
                        <h4 class="box-input__title">Изображение</h4>
                        <label class="btn secondary-btn btn-with-icon">
                            <input name="imgSRC" type="file" hidden class="input__file" accept="image/*" />
                            <img src="/Public/icons/pic.svg">
                            Выбрать изображение
                        </label>

                        <div style="visibility: visible;" class="tags-wrap photo-tags">
                            <p>Выбрано:</p>
                            <div class="preview">
                                <div class="photo-tag" data-exindex="1">
                                    <img src="<%=  guide.imgSRC %>">
                                </div>
                            </div>
                        </div>
                        <div class="box-input__error-text photos-error"></div>

                    </div>


                </div>
            </div>
        </form>

        <script>

            let k = 0,
                photoTags = document.querySelector(".photo-tags");


            let input = document.querySelector('input[type="file"]');
            const preview = document.querySelector('.preview');
            const button = document.querySelector('button');
            const fileList = [];
            input.addEventListener('change', onChange);

            function onChange(e) {
                photoTags.style.visibility = 'visible';
                preview.innerHTML = '';
                [...input.files].forEach(file => {
                    const reader = new FileReader;
                    reader.addEventListener('loadend', () => {
                        const item = document.createElement('div');
                        item.classList.add('photo-tag');
                        item.setAttribute('data-index', k++);
                        const image = new Image;
                        image.src = `data:${file.type};base64,${btoa(reader.result)}`;
                        item.appendChild(image);
                        preview.appendChild(item);

                    });
                    reader.readAsBinaryString(file);

                });
            }

        </script>
        <script src="/public/js/edite.js"></script>

</body>

</html>