<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все экскурсии</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <% if (user?.role == 2) {%>
        <%- include('./guidePages/partials/header'); %>
    <% } else if (user?.role == 1) {%>
        <%- include('./adminPages/partials/header'); %>
    <%  } else {%>
        <%- include('./partials/header'); %>
    <%  }%>


        <div class="container two-part-container">


            <form class="filters-form" id="SearchForm">
                <h2 class="h2">Найди именно то, что нужно</h2>
                <div class="search-bar">
                    <label for="search">
                        <img src="/public/icons/search.svg" />
                    </label>
                    <input type="text" name="str" value="" placeholder="Найти экскурсию" oninput="SubmitSearch()">
                </div>
                <div class="many-fields__wrap">

                    <div class="input-wrap">
                        <h4 class="box-input__title">Цена</h4>
                        <div class="box-input cost-input">
                            <input type="number" oninput="SubmitSearch()" name="startCost" placeholder=" " min="0">
                            <label>от</label>
                            <div class="box-input__error-text startCost-error"></div>
                        </div>
                        <div class="box-input">
                            <input type="number" oninput="SubmitSearch()" name="endCost" placeholder=" " min="0">
                            <label>до</label>
                            <div class="box-input__error-text endCost-error"></div>
                        </div>
                    </div>
                    <div class="input-wrap">
                        <h4 class="box-input__title">Формат</h4>
                        <% formats.forEach(item=> { %>
                        <div class="radio-input">
                            <input type="checkbox" oninput="SubmitSearch()" name="formatId" id="format-<%= item.id; %>" value="<%= item.id; %>" >
                            <label for="format-<%= item.id; %>">
                                <%= item.name; %>
                                <span class="input-superscript">
                                    <%= item.count; %>
                                </span>
                            </label>
                        </div>
                        <%}); %>

                    </div>
                    <div class="input-wrap">
                        <h4 class="box-input__title">Тип</h4>
                        <% types.forEach(item=> { %>
                            <div class="radio-input">
                                <input type="checkbox" oninput="SubmitSearch()" name="typeId" id="type-<%= item.id; %>" value="<%= item.id; %>"
                                    >
                                <label for="type-<%= item.id; %>">
                                    <%= item.name; %>
                                        <span class="input-superscript">
                                            <%= item.count; %>
                                        </span>
                                </label>
                            </div>
                            <% }); %>
                    </div>
                    <div class="input-wrap">
                        <h4 class="box-input__title">Сортировка</h4>

                            <div class="radio-input">
                                <input type="radio" name="sort" id="sort-1" value="ASC" oninput="SubmitSearch()"
                                    >
                                <label for="sort-1">
                                    Сначала дешёвые
                                </label>
                            </div>
                            <div class="radio-input">
                                <input type="radio" name="sort" id="sort-2" value="DESC" oninput="SubmitSearch()">
                                <label for="sort-2">
                                    Сначала дорогие
                                </label>
                            </div>

                    </div>
                </div>

            </form>

        </div>


        <div class="container">
            <div class="excursion-cards__wrapper">
            </div>
        </div>



    <script>
        SubmitSearch();
        async function SubmitSearch(){
            let form = document.querySelector('#SearchForm');
            const formData = new FormData(form);
            const queryString = new URLSearchParams(formData).toString();

            console.log(queryString);

            let response = await fetch(`/excursions/searchfilter?${queryString}`);

            let result = await response.json();
            const container = document.querySelector('.excursion-cards__wrapper');
            container.innerHTML = '';

            if(!result.length){
                                    container.innerHTML += `<h2 class="extra-info">Ничего не найдёно</h2>`;
                                }

            result.forEach(el => {
                let days = el.days.map(el=>el.dayNumber);
                let dayNow = getLocalDay(new Date());
                // el.images = el.images.sort((a, b)=> a.id - b.id);
                container.innerHTML += `<a href="/excursions/show/${el.id}" class="excursion-card">
                                            <img class="excursion-card__img" src="${el.images[1].imgSRC}" alt="">
                                            <h4 class="excursion-card__title">${el.name}</h4>

                                            <div style="display: flex; gap: 8px; align-items:center;">
                                            <h3 class="excursion-card__cost">${el.adultCost} Br</h3>
                                            <p class="excursion-card__type">${el.type.name}</p>
                                            </div>

                                            <!--<p class="excursion-card__format">${el.format.name}</p>
                                            <p class="excursion-card__duration">${el.duration} часа</p>-->
                                        </a>`;
            });
        }
        function getLocalDay(date) {

            let day = date.getDay();

            if (day == 0) {
                day = 7;
            }

            return day;
        }
    </script>
</body>

</html>