<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .mail-container {
            display: flexbox;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            height: 100%;
            background-color: #fff;
            text-align: center;
        }

        .text1 {
            text-align: center;
            font-family: "Segoe UI";
            font-size: 30px;
            font-weight: 500;
            color: black;
        }

        .text2 {
            text-align: center;
            font-family: "Segoe UI";
            font-size: 20px;
            color: black;
            padding: 0 100px;
        }

        .btn {
            color: #5CA643 !important;
            text-decoration: none !important;
        }

        .bg{
            background-color: #5CA643 !important;
            padding: 16px;
            width: 100%;
            margin-bottom: 20px;
        }

        .btn-delete {
            text-decoration: none !important;
            color: rgba(0, 0, 0, .3) !important;
        }
    </style>
</head>

<body>
    <div class="mail-container">
        <div class="bg">
            <img src="https://lh3.googleusercontent.com/a/ACg8ocIKLAdqFq6f98hZdS2H2WqxGm1pQml_ektRE-Y3iYhSucb3yg7RgJH-oogmTp1wtYQRr-kBVQ9YUTQGFpZoIsyn8Sin_94=s150"
                alt="logo">
        </div>
        <div class="text1">Вы забронировали экскурсию</div>
        <div class="text1">«<%= title%>»</div>
        <div class="text2" style="margin-top: 25px;">Для уточнения деталей и подтверждения бронирования в ближайшее
            время с вами свяжется менеджер</div>
        <div class="text2" style="margin-top: 20px;">Подробная информация об экскурсии <a
                href="<%= domain %><%= homeLink %>" class="btn">на странице экскурсии</a></div>
        <div style="margin-top: 20px !important;"><a href="<%= domain %><%= deleteLink %>"
                class="btn-delete text2">Отменить бронирование</a></div>
        <div style="height: 60px; width: 100%; visibility: hidden;"></div>
        <img src="/Public/images/1589f9c69c1c7e826aecd34e1d39e7e1.jpg" alt="">
    </div>
</body>

</html>