<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экскурсия</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=12e3ef71-0ab9-45da-8a9f-c924cf2fd1ae"></script>
    <script src="/public/js/map.js"></script>
</head>

<body>
    <% if(!user) {%>
        <%- include('./partials/header'); %>
            <% } else {%>
                <%- include('./guidePages/partials/header'); %>
                    <% }%>

                        <!-- <div class="modal-wrapper modal-open">

                            <div class="close-part"></div>
                            <div class="modal-btns">
                                <img class="close-modal-btn" src="/Public/icons/white-cross.svg" alt="">
                                <img src="/Public/icons/left-arrow-white.svg" alt="" class="prev-modal-btn">
                                <img src="/Public/icons/right-arrow-white.svg" alt="" class="next-modal-btn">
                            </div>

                            <div class="img-place">

                                <div class="clickable-parts">
                                    <div class="prev-part"></div>
                                    <div class="next-part"></div>
                                </div>

                                <img class="slide-img modal-img"
                                    src="/Public/guideImages/1382906ea77e-40aa-11ee-852e-622d9ee3ddae.1200x1000.jpeg"
                                    alt="">
                            </div>

                        </div> -->

                        <div class="status">Экскурсия забронирована. Менеджер свяжется с вами в ближайшее время</div>
                        <input type="text" disabled hidden value="<%= data.excursionData.points %>" id="points">
                        <div class="main-images__wrapper container">
                            <% for(i=0; i < 4; i++) {%>
                                <img class="main-images__item main-images__item<%= i %>"
                                    src="<%= data.imagesExcursionsData[i].imgSRC %>" alt="">
                                <% } %>
                        </div>
                        <div class="container two-part-container excursion-header" style="margin-top: 40px;">
                            <div class="first-container-part">
                                <h2>
                                    <%= data.excursionData.name %>
                                </h2>
                            </div>
                            <div class="second-container-part excursion-aside">
                                <div class="share-block">
                                    <div class="tertiary-btn btn-with-icon share-btn">
                                        <img src="/Public/icons/share-network.svg">
                                        Поделиться
                                    </div>

                                    <div class="social-icons">
                                        <div class="ya-share2" data-curtain data-shape="normal"
                                            data-services="vkontakte,odnoklassniki,telegram,viber" data-copy="extraItem"
                                            data-title="<%= data.excursionData.name %>"
                                            data-image="<%= data.imagesExcursionsData[0].imgSRC %>"
                                            data-description="Вот так экскурсия"
                                            data-url="localhost:4001/excursions/show/<%= data.excursionData.id %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container two-part-container excursion-header" style="margin-top: 0px;">
                            <div class="first-container-part">

                                <!-- <h2>
                                    <%= data.excursionData.name %>
                                </h2> -->

                                <div class="accordeon-tabs__wrapper">
                                    <a href="#description" onclick="scrollToBlock()"
                                        class="accordeon-tabs__tab">Описание</a>
                                    <a href="#gallery" onclick="scrollToBlock()"
                                        class="accordeon-tabs__tab">фотографии</a>
                                    <!-- <a href="#route-on-map" onclick="scrollToBlock()" class="accordeon-tabs__tab">Маршрут</a>
                                    <a href="#order-form" onclick="scrollToBlock()"
                                        class="accordeon-tabs__tab secondary-btn">Забронировать</a> -->

                                </div>
                                <ul class="accordion__list">
                                    <li class="accordion__item" id="description">
                                        <div class="accordion__title-block">
                                            <div class="accordion__title-content">
                                                <h4 class="accordion__title">Описание экскурсии</h4>
                                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                                            </div>
                                        </div>

                                        <div class="accordion__text-block">
                                            <div class="paragraph-wrap">
                                                <% let array=data.excursionData.description.split("."), size=3,
                                                    subarrays=[]; %>
                                                    <!-- <% console.log(array) %> -->
                                                    <% for (let i=0; i < Math.ceil(array.length / size); i++) { %>
                                                        <% subarrays[i]=array.slice(i * size, i * size + size); %>
                                                            <% } %>
                                                                <% subarrays.forEach(arr=> { %>
                                                                    <p class="paragraph">
                                                                        <%= arr.join(". ") %> </p>
                                        <% }); %>
                                </p>
                            </div>
                            <% if(data.excursionData.startLocation || data.excursionData.endLocation) {%>
                            <div class=" extreme-points">
                                                                            <% if(data.excursionData.startLocation) {%>
                                                                                <div class="extreme-points__item">
                                                                                    <h5 class="extreme-points__title">
                                                                                        Место
                                                                                        встречи</h5>
                                                                                    <p class="extreme-points__text">
                                                                                        <%= data.excursionData.startLocation
                                                                                            %>
                                                                                    </p>
                                                                                </div>
                                                                                <%}%>
                                                                                    <% if(data.excursionData.endLocation)
                                                                                        {%>
                                                                                        <div
                                                                                            class="extreme-points__item">
                                                                                            <h5
                                                                                                class="extreme-points__title">
                                                                                                Место
                                                                                                окончания
                                                                                            </h5>
                                                                                            <p
                                                                                                class="extreme-points__text">
                                                                                                <%= data.excursionData.endLocation
                                                                                                    %>
                                                                                            </p>
                                                                                        </div>
                                                                                        <%}%>
                                                                                            <!-- <div class="tertiary-btn btn-with-icon">
                                    <img src="/Public/icons/map-pin.svg">
                                    Показать на карте
                                </div> -->
                                            </div>
                                            <%}%>
                                                <div class="excursion-type-block">
                                                    <img src="/Public/icons/group.svg">
                                                    <p class="paragraph">
                                                        <strong>
                                                            <%= data.typeData.name %>
                                                        </strong> –
                                                        <%= data.typeData.description %>
                                                    </p>
                                                </div>
                                        </div>

                                    </li>
                                    <!-- <li class="accordion__item">
                                        <div class="accordion__title-block">
                                            <div class="accordion__title-content">
                                                <h4 class="accordion__title">Подробный маршрут</h4>
                                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                                            </div>
                                        </div>

                                        <div class="accordion__text-block ">
                                            <div class="paragraph-wrap">
                                                <p class="paragraph">
                                                    Вы побываете на площади Свободы — нашем историческом центре, сердце
                                                    города.
                                                    Здесь вашему взору откроются: Кафедральный собор Святого Духа,
                                                    костёл
                                                    Пресвятой Девы Марии, Ратуша, Гостиный двор, комплекс бывших
                                                    униатских
                                                    монастырей, прекрасные скульптурные композиции.
                                                </p>
                                                <p class="paragraph">
                                                    В кафедральном соборе Святого Духа у вас будет возможность увидеть
                                                    самую
                                                    ценную православную святыню Беларуси — древнейшую икону Минской
                                                    Божьей
                                                    Матери.
                                                </p>
                                            </div>

                                            <div class="slider">
                                    <div class="slider-list">
                                        <div class="slider-track">
                                            <div class="slide ">
                                                <img src="/Public/guideImages/идея мокапа.jpeg" alt="">

                                            </div>
                                            <div class="slide ">
                                                <img src="/Public/guideImages/ColonneMorris.JPG" alt="">

                                            </div>
                                            <div class="slide ">
                                                <img src="/Public/guideImages/optimize.webp" alt="">

                                            </div>
                                            <div class="slide ">
                                                <img src="/Public/guideImages/nypl.digitalcollections.510d47e1-0c52-a3d9-e040-e00a18064a99.001.w.jpg"
                                                    alt="">

                                            </div>
                                            <div class="slide ">
                                                <img src="/Public/guideImages/0.022009037737057202shape_21.png" alt="">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="slider-arrows">
                                        <button type="button" class="prev">&larr;</button>
                                        <button type="button" class="next">&rarr;</button>
                                    </div>
                                </div>



                                            <div class="paragraph-wrap">
                                                <p class="paragraph">
                                                    На площади Независимости вы посетите один из самых красивых костёлов
                                                    Беларуси — костёл Святых Симеона и Елены, увидите Дом Правительства
                                                    со скульптурой Ленина у главного входа, бывшие доходные дома,
                                                    минскую
                                                    мэрию,
                                                    фонтан с тремя аистами, два университета.
                                                </p>
                                                <p class="paragraph">
                                                    Главная и самая красивая улица города — проспект Независимости —
                                                    поразит
                                                    обилием достопримечательностей. Задуманная 215 лет назад
                                                    как объездная
                                                    дорога вдоль города сегодня она начинается из самого центра.
                                                </p>
                                                <p class="paragraph">
                                                    Проспект является прекрасным примером единого архитектурного
                                                    ансамбля,
                                                    построенного в стиле сталинского ампира. Каждое здание здесь —
                                                    словно
                                                    дворец, очаровывающий минчан и гостей столицы. Вы познакомитесь
                                                    со зданиями
                                                    КГБ, Главпочтамта, гостиницы Минск, Национального банка, ГУМа.
                                                </p>
                                            </div>

                                        </div>

                                    </li> -->
                                    <li class="accordion__item" id="gallery">
                                        <div class="accordion__title-block">
                                            <div class="accordion__title-content">
                                                <h4 class="accordion__title">Фотографии</h4>
                                                <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                                            </div>
                                        </div>

                                        <div class="accordion__text-block">
                                            <div class="slider">
                                                <div class="slider-list">
                                                    <div class="slider-track">
                                                        <% data.imagesExcursionsData.forEach((item, index)=> { %>
                                                            <div class="slide">
                                                                <img class="img-open-btn"
                                                                    src="/Public/icons/GlassPlus.svg" width="40px"
                                                                    alt="">
                                                                <img class="slide-img" src="<%= item.imgSRC %>" alt=""
                                                                    data-imageindex="<%= index %>">
                                                            </div>
                                                            <% }); %>
                                                    </div>
                                                </div>
                                                <div class="slider-arrows">
                                                    <div type="button" class="prev disabled"> </div>
                                                    <div type="button" class="next"> </div>
                                                </div>

                                                <!-- <div class="slider-arrows">
                                    <div type="button" class="prev">
                                        <img src="/Public/icons/left-arrow.svg" alt="">
                                    </div>
                                    <button type="button" class="next">
                                        <img src="/Public/icons/right-arrow.svg" alt="">
                                    </button>
                                </div> -->
                                            </div>
                                        </div>


                                    </li>

                                    <!-- <li class="accordion__item" id="testimonials">
                            <div class="accordion__title-block">
                                <div class="accordion__title-content">
                                    <h4 class="accordion__title">Отзывы</h4>
                                    <img class="accordion__arrow" src="/Public/icons/arrow.svg">
                                </div>
                            </div>

                            <div class="accordion__text-block">

                                <div class="testimonials__header">
                                    <div class="testimonials__info"></div>
                                    <div class="testimonials__tracks">
                                        <div class="testimonials__track">
                                            <div class="testimonials__number">
                                                <img src="/Public/icons/Star.svg">
                                                5
                                            </div>
                                            <div class="testimonials__bar">
                                                <div class="testimonials__thumb" style="width: 25%;"></div>
                                            </div>
                                            <div class="testimonials__scope">39</div>
                                        </div>
                                        <div class="testimonials__track">
                                            <div class="testimonials__number">
                                                <img src="/Public/icons/Star.svg">
                                                4
                                            </div>
                                            <div class="testimonials__bar">
                                                <div class="testimonials__thumb" style="width: 13%;"></div>
                                            </div>
                                            <div class="testimonials__scope">13</div>
                                        </div>
                                        <div class="testimonials__track">
                                            <div class="testimonials__number">
                                                <img src="/Public/icons/Star.svg">
                                                3
                                            </div>
                                            <div class="testimonials__bar">
                                                <div class="testimonials__thumb" style="width: 0;"></div>
                                            </div>
                                            <div class="testimonials__scope">0</div>
                                        </div>
                                        <div class="testimonials__track">
                                            <div class="testimonials__number">
                                                <img src="/Public/icons/Star.svg">
                                                2
                                            </div>
                                            <div class="testimonials__bar">
                                                <div class="testimonials__thumb" style="width: 0;"></div>
                                            </div>
                                            <div class="testimonials__scope">0</div>
                                        </div>
                                        <div class="testimonials__track">
                                            <div class="testimonials__number">
                                                <img src="/Public/icons/Star.svg">
                                                1
                                            </div>
                                            <div class="testimonials__bar">
                                                <div class="testimonials__thumb" style="width: 0;"></div>
                                            </div>
                                            <div class="testimonials__scope">0</div>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </li> -->
                                </ul>
                                <!-- </div> -->



                                <form class="order-form" id="order-form" onsubmit="OrderSubmit(event)">
                                    <input type="number" hidden name="excursionId" id="excursionId"
                                        value="<%= data.excursionData.id %>">

                                    <input type="number" hidden name="statusId" id="statusId" value="1">
                                    <h3>Забронировать экскурсию</h3>
                                    <div class="calendar-wrapper-block">
                                        <div class="calendar-wrapper">
                                            <h5>Дата бронирования</h5>
                                            <div class="calendar-top">
                                                <span id="prev" class="icons"> </span>
                                                <p class="current-date"></p>
                                                <span id="next" class="icons"> </span>
                                            </div>
                                            <div class="calendar">
                                                <ul class="weeks">
                                                    <li>пн</li>
                                                    <li>вт</li>
                                                    <li>ср</li>
                                                    <li>чт</li>
                                                    <li>пт</li>
                                                    <li style="color: var(--main-green)">сб</li>
                                                    <li style="color: var(--main-green)">вс</li>
                                                </ul>
                                                <ul class="days"></ul>
                                            </div>
                                        </div>
                                        <div class="box-input__error-text day-error"></div>
                                        <div style="display: flex; flex-direction: column; gap: 8px;">
                                            <div class="calendar-help-block">
                                                <div class="accessible-day"></div>
                                                Доступный для бронирования день
                                            </div>
                                            <div class="calendar-help-block">
                                                <div class="accessible-day selected"></div>
                                                Выбранный день
                                            </div>
                                            <h5 class="free-places"></h5>
                                        </div>


                                    </div>
                                    <div style="display: flex; gap: 40px; width: 100%;">
                                        <div style="display: flex; flex-direction: column; gap: 8px;">
                                            <h5>Введите контактные данные</h5>
                                            <div class="box-input">
                                                <input type="name" name="clientName" id="name" class="input"
                                                    placeholder=" ">
                                                <label>Ваше имя</label>
                                                <div class="box-input__error-text clientName-error"></div>
                                            </div>

                                            <div class="box-input">
                                                <input type="phone" name="clientPhone" id="phone" class="input"
                                                    placeholder=" ">
                                                <label>Номер телефона</label>
                                                <div class="box-input__error-text clientPhone-error"></div>
                                            </div>

                                            <div class="box-input">
                                                <input type="email" name="clientEmail" id="email" class="input"
                                                    placeholder=" ">
                                                <label>Адрес электронной почты</label>
                                                <div class="box-input__error-text clientEmail-error"></div>
                                            </div>

                                            <div class="client-count__wrapper">
                                                <div>
                                                    <div class="client-count__item">
                                                        <div class="client-count__item-wrap">
                                                            <div class="client-count__name">Взрослый</div>
                                                            <div class="client-count__cost">
                                                                <%= data.excursionData.adultCost %> BYN
                                                            </div>
                                                        </div>
                                                        <div class="client-count__item-wrap">
                                                            <div class="client-count__minus">–</div>
                                                            <input readonly class="client-count__count"
                                                                name="numberOfAdults"
                                                                data-maxcount="<%= data.typeData.clientMaxNumber %> "
                                                                data-cost="<%= data.excursionData.adultCost%>"
                                                                value="0">
                                                            <div class="client-count__plus">+</div>
                                                        </div>
                                                    </div>

                                                    <div class="box-input__error-text numberOfAdults-error"></div>
                                                    <div class="box-input__error-text count-error"></div>
                                                </div>




                                                <% if(data.excursionData.childCost) {%>
                                                    <div>
                                                        <div class="client-count__item">
                                                            <div class="client-count__item-wrap">
                                                                <div class="client-count__name">Детский (2 - 12 лет)
                                                                </div>
                                                                <div class="client-count__cost">
                                                                    <%= data.excursionData.childCost %> BYN
                                                                </div>
                                                            </div>
                                                            <div class="client-count__item-wrap">
                                                                <div class="client-count__minus">–</div>
                                                                <input readonly class="client-count__count"
                                                                    name="numberOfChildren"
                                                                    data-maxcount=" <%= data.typeData.clientMaxNumber %> "
                                                                    data-cost="<%=data.excursionData.childCost%>"
                                                                    value="0">
                                                                <div class="client-count__plus">+</div>
                                                                </input>
                                                            </div>

                                                        </div>
                                                        <div class="box-input__error-text count-error"></div>
                                                    </div>
                                                    <% }%>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>


                                    <div class="final-cost">Итого: <span class="final-cost-place">0</span> BYN</div>
                                    <div class="window-btns">
                                        <input type="submit" class="btn" id="orderSubmit"
                                            value="Забронировать экскурсию">
                                        <p class="extra-info" style="max-width: 300px;">Оформляя заказ, вы соглашаетесь
                                            на обработку
                                            персональных
                                            данных
                                        </p>
                                    </div>


                                </form>
                            </div>
                            <div class="second-container-part excursion-aside">
                                <aside class="excursion-extra-info">
                                    <div class="excursion-extra-info__item">
                                        <div class="excursion-extrainfo">

                                            <div class="excursion-extra-info__group">
                                                <p>Стоимость</p>
                                                <h5 class="h5 cost">
                                                    <%= data.excursionData.adultCost %> Br
                                                </h5>
                                            </div>

                                            <div class="excursion-extra-info__group">
                                                <p>Длительность</p>
                                                <h5 class="h5 cost">
                                                    <%= data.excursionData.duration %> ч.
                                                </h5>
                                            </div>
                                        </div>
                                        <a href="#order-form" onclick="scrollToBlock" class="btn">Забронировать</a>
                                    </div>
                                    <div class="excursion-extra-info__item">
                                        <div class="excursion-extra-info__group">
                                            <h5 class="h5">Тип</h5>
                                            <div class="type-block">
                                                <span>
                                                    <%= data.typeData.name%>
                                                </span>
                                                <img class="question-icon" src="/Public/icons/Question.svg" alt="">
                                                <div class="tooltip">
                                                    <%= data.typeData.description %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="excursion-extra-info__group">
                                            <h5 class="h5">Формат</h5>
                                            <p class="">
                                                <%= data.formatData.name%>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="excursion-extra-info__item">
                                        <div style="display: flex; align-items: center;">
                                            <img class="guide-img" src="<%= data.excursionData.guide.imgSRC %>" alt="">
                                            <div class="excursion-extra-info__group">
                                                <div class="guide-name h5">
                                                    <%= data.excursionData.guide.name %>
                                                </div>
                                                <div class="guide-info extra-info">
                                                    <%= data.excursionData.guide.description %>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn secondary-btn">Подробнее</div>
                                    </div>
                                    <div id="route-on-map" class="accordion__item">
                                        <div id="map-test" class="map"></div>
                                    </div>
                                </aside>
                            </div>
                        </div>

                        <div class="container see-more">
                            <h2>
                                Смотрите так же
                            </h2>
                            <div class="excursion-cards__wrapper">
                            </div>
                        </div>


                        <script>
                            let accordeonTabs = document.querySelectorAll('.accordeon-tabs__tab');
                            accordeonTabs.forEach(tab => {
                                tab.addEventListener('click', () => {
                                    accordeonTabs.forEach(elemnt => {
                                        elemnt.classList.remove('active');
                                    });
                                    tab.classList.add('active');
                                });
                            });

                            let questionIcon = document.querySelector('.question-icon'),
                                tooltip = document.querySelector('.tooltip');
                            questionIcon.addEventListener('mouseenter', () => {
                                tooltip.classList.add('visible');
                            });
                            questionIcon.addEventListener('mouseleave', () => {
                                tooltip.classList.remove('visible');
                            });

                            let socialIcons = document.querySelector('.social-icons'),
                                shareBtn = document.querySelector('.share-btn');

                            shareBtn.addEventListener('click', () => {
                                socialIcons.classList.add('socials-open');
                            });


                            let clientCountPluses = document.querySelectorAll(".client-count__plus"),
                                clientCountCounts = document.querySelectorAll(".client-count__count"),
                                clientCountMinuses = document.querySelectorAll(".client-count__minus"),
                                countErrors = document.querySelectorAll('.count-error'),
                                finalCost = document.querySelector('.final-cost-place');
                            let maxCount = clientCountCounts[0].dataset.maxcount;


                            clientCountPluses.forEach((element, index) => {
                                element.addEventListener('click', () => {
                                    if (!document.querySelector('.isOrderDay.selected')) {
                                        countErrors[index].innerText = 'Выберите день'
                                        return;
                                    }
                                    countErrors[index].innerText = "";
                                    let num = [clientCountCounts[0].value, 0];
                                    if (clientCountCounts[1]) num[1] = clientCountCounts[1].value;
                                    maxCount = +document.querySelector('.isOrderDay.selected')?.dataset?.orderscount
                                    if (num[0] >= (maxCount - num[1]) || num[1] >= (maxCount - num[0])) {
                                        countErrors[index].innerText = "Достигнут лимит доступных мест"
                                    } else {
                                        clientCountCounts[index].value = ++num[index];
                                    }
                                    renderFinalCost();
                                });
                            });
                            clientCountMinuses.forEach((element, index) => {
                                element.addEventListener('click', () => {
                                    countErrors[index].innerText = "";
                                    let num = clientCountCounts[index].value;
                                    num = Number(num);

                                    if (num != 0) {
                                        clientCountCounts[index].value = --num;
                                    }
                                    renderFinalCost();
                                });
                            });

                            function renderFinalCost() {
                                let finalC = 0;
                                clientCountCounts.forEach(element => {
                                    finalC += Number(element.value) * Number(element.dataset.cost);
                                });
                                finalCost.innerText = String(finalC);
                            }
                            renderFinalCost();

                            async function ShowMore() {
                                // let formData = new FormData();
                                // formData.append('str', target.value);

                                let response = await fetch('/excursions/search?str=', {
                                    method: "GET"
                                });

                                let result = await response.json();



                                let container = document.querySelector('.excursion-cards__wrapper');
                                container.innerHTML = '';



                                for (let i = 0; i < 3 && i < result.length; i++) {
                                    let item = result[i];

                                    container.innerHTML += `<a href="/excursions/show/${item?.id}" class="excursion-card">
                                            <img class="excursion-card__img" src="${item?.images[0]?.imgSRC}" alt="">
                                            <h4 class="excursion-card__title">${item?.name}</h4>

                                            <!--<p class="excursion-card__format">${item?.format?.name}</p>-->

                                            <div style="display: flex; gap: 8px; align-items:center;">
                                            <h3 class="excursion-card__cost">${item?.adultCost} Br</h3>
                                            <p class="excursion-card__type">${item?.type?.name}</p>
                                            </div>



                                            <!--<p class="excursion-card__duration">${item?.duration} ч.</p>-->

                                        </a>`;



                                }
                            }
                            ShowMore();
                        </script>



                        <script src="/public/js/anchorScroll.js"></script>
                        <script src="/public/js/calendar.js"></script>
                        <script src="/public/js/accordion.js"></script>
                        <script src="/public/js/slider.js"></script>
                        <script src="https://yastatic.net/share2/share.js"></script>
                        <script src="/public/js/order.js"></script>
</body>

</html>