<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/dashbord.css">
    <link rel="stylesheet" href="/public/css/header-style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <%- include('./partials/header'); %>

        <div class="info-window__wrapper">
            <div class="info-window">
                <p class="window__text">Вы действительно хотите удалить гида <span class="ex-name"></span>?</з>
                <div class="window-btns">
                    <div class="btn secondary-btn reset-btn">Отмена</div>
                    <div onclick="RemoveSubmit(event)" class="btn remove-btn">Да, удалить</div>
                </div>
            </div>
        </div>

        <div class="container two-part-container">


            <div class="admin-dashboard">
                <div class="admin-dashboard__header">
                    <h2 class="h2">Административная панель</h2>
                    <a class="btn" href="/admin/registration">Добавить гида</a>
                </div>

                <% data.forEach(item=> { %>

                    <% if(item.user.name != "Администатор") {%>

                        <div class="two-part-container">

                            <div class="first-part-container">
                                <div class="guide-card guide-card-<%= item.user.id %>">
                                    <div class="action-menu">
                                        <span class="action-menu__item remove-excursion__btn"
                                            data-exname="<%= item.user.name %>" data-exid="<%= item.user.id %>">
                                            <img src="/Public/icons/Trash.svg" alt="">
                                            Удалить
                                        </span>
                                    </div>
                                    <img src="<%= item.user.imgSRC %>" alt="" class="guide-card__img">

                                    <div>
                                        <div class="excursion-block__header">
                                            <h5 class="guide-card__name">
                                                <%= item.user.name %>
                                            </h5>
                                            <img class="excursion-block__dots" src="/Public/icons/DotsThreeVertical.svg"
                                                alt="">
                                        </div>
                                        <p class="paragraph">
                                            <%= item.user.description %>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="excursion-blocks first-container-part">

                                <% item.excursions.forEach(excursion=> { %>

                                    <a href="/excursions/show/<%=excursion.id%>" class="excursion-block"
                                        id="excursion-<%=excursion.id%>">

                                        <div class="excursion-block__header">
                                            <h5 class="excursion-name">
                                                <%=excursion.name%>
                                            </h5>
                                        </div>

                                        <div class="excursion-block__body">
                                            <div>
                                                <div class="excursion-block__data-wrap">
                                                    <p class="extra-info">Формат</p>
                                                    <p class="excursion-block__format excursion-block__data">
                                                        <%=excursion.format.name%>
                                                    </p>

                                                </div>
                                                <div class="excursion-block__data-wrap">
                                                    <p class="extra-info">Тип</p>
                                                    <p class="excursion-block__type excursion-block__data">
                                                        <%=excursion.type.name%>
                                                    </p>

                                                </div>
                                                <div class="excursion-block__data-wrap">
                                                    <p class="extra-info">Всего забронировано</p>
                                                    <p class="excursion-block__type excursion-block__data">
                                                        <% let count=bookingCount.find(i=> i.guideId ===
                                                            excursion.guideId); %>
                                                            <% count=count.array.find(i=> i.excursionId ===
                                                                excursion.id);%>
                                                                <%=count.bookingCount %>
                                                    </p>

                                                </div>
                                            </div>
                                            <div>
                                                <div class="excursion-block__data-wrap">
                                                    <p class="extra-info">Длительность</p>
                                                    <p class="excursion-block__type excursion-block__data">
                                                        <%=excursion.duration%> часа
                                                    </p>

                                                </div>
                                                <div class="excursion-block__data-wrap">
                                                    <p class="extra-info">Стоимость</p>
                                                    <p class="excursion-block__type excursion-block__data">
                                                        <%=excursion.adultCost%> Br
                                                    </p>

                                                </div>


                                            </div>
                                        </div>
                                    </a>
                                    <%}); %>

                            </div>

                        </div>

                        <%}%>
                            <%});%>


            </div>

        </div>



        <script>

            let dots = document.querySelectorAll(".excursion-block__dots"),
                actionMenu = document.querySelectorAll(".action-menu");


            dots.forEach((element, index) => {

                element.addEventListener('click', () => {
                    actionMenu[index].classList.add('visible');
                });
                document.addEventListener('mouseup', function (e) {

                    if (!actionMenu[index].contains(e.target)) {
                        actionMenu[index].classList.remove('visible');
                    }
                });
            });

            let removeExcursionBtns = document.querySelectorAll(".remove-excursion__btn"),
                infoWindow = document.querySelector(".info-window"),
                removeBtn = document.querySelector(".remove-btn"),
                resetBtn = document.querySelector(".reset-btn"),
                infoWindowWrapper = document.querySelector(".info-window__wrapper"),
                exNamePlace = document.querySelector(".ex-name");
            removeExcursionBtns.forEach(element => {
                element.addEventListener("click", () => {
                    infoWindowWrapper.classList.add("show-info-window");
                    removeBtn.dataset.exid = element.dataset.exid;
                    exNamePlace.innerText = element.dataset.exname;
                })
            });
            resetBtn.addEventListener("click", () => {
                infoWindowWrapper.classList.remove("show-info-window");
            });

            async function RemoveSubmit(event) {
                let response = await fetch('/api/guide/' + event.target.dataset.exid, {
                    method: "DELETE"
                });

                let result = await response.json();
                if (result) {
                    // document.querySelector('.guide-card-' + event.target.dataset.exid).remove();
                    setTimeout(() =>  window.location.reload(), 0);
                }
                document.querySelector('.info-window__wrapper').classList.toggle('show-info-window');
            }

        </script>
</body>

</html>